.main_container {
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  position: absolute;
  top: 0px;
  left: 0px;
}

.articles {
  position: relative;
  //padding: 5px;
  padding-top: 50px;
  max-width: 800px;
  /////////////
  width: 95%;
  /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
}

.question {}

.description {}

.code_area {}

.output {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.output_head {}

.output_body {
  //background-color: #DFDFDF;
  border-radius: 10px;
  padding-left: 4%;
  padding-right: 4%;
}

pre {
  padding: 4%;
}



.container {
  padding: 0%;
}

#code_containts {
  font-size: 14px;
  line-height: 16px;
}



.nav-tabs > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}


.prettyprint ol.linenums > li { list-style-type: decimal; }
